{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Document</title>
</head>
<body>
    <nav class="nav1">
        <p>LOGO</p>
        <ul class="lista">
            <li><a href="/">Pagina Principal</a></li>
            <li><a href="/duke/">Duke</a></li>
            <li><a href="/luiza/">Luiza</a></li>
            <li><a href="/cacau/">Cacau</a></li>
        </ul> 
        <div class="cora"></div></nav>
    <nav class="nav2">
        <h1 class="titulo">Cacau  !!!!</h1>
    </nav>
    
    <div class="caixinha">
        <p>Essa é a cacau ela tem 1 ano, Thauane viu ela nascer ela era bem pequeninha e cabia na mão da Thau, hoje em dia ela é grande e espoleta e faz todo mundo em sua casa feliz com seus carinhos e bagunças.</p>

        <img src="../static/img/cacau.jpg" alt="" width="450px">
    </div>

</body>
</html>