{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Document</title>
</head>
<body>
    <nav class="nav1">
        <p>LOGO</p>
        <ul class="lista">
            <li><a href="/">Pagina Principal</a></li>
            <li><a href="/duke/">Duke</a></li>
            <li><a href="/luiza/">Luiza</a></li>
            <li><a href="/cacau/">Cacau</a></li>
        </ul> 
        <div class="cora"></div></nav>
    <nav class="nav2">
        <h1 class="titulo">Duke  !!!!</h1>
    </nav>
    
    <div class="caixinha">
        <p>Esse foi o cachorro do João, ele acabou morrendo esse ano, foi um cachorro muito carinhoso que esteve com ele desde que ele tinha 3 anos, deixando muita saudade para a sua família que pensa diariamente dos bons momentos que viveram juntos.</p>

        <img src="../static/img/duke.png" alt="" width="600px">
    </div>

</body>
</html>