{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <title>Document</title>
</head>
<body>
    <nav class="nav1">
        <p>LOGO</p>
        <ul class="lista">
            <li><a href="/">Pagina Principal</a></li>
            <li><a href="/duke/">Duke</a></li>
            <li><a href="/luiza/">Luiza</a></li>
            <li><a href="/cacau/">Cacau</a></li>
        </ul> 
        <div class="cora"></div></nav>
    <nav class="nav2">
        <h1 class="titulo">Luiza  !!!!</h1>
    </nav>
    
    <div class="caixinha">
        <p>Essa é a nova gatinha do João, chegou esse ano na casa dele, só que ela tinha uma surpresa... UM BUCHO CHEIO DE FILHOTINHOS, os amigos do João ajudaram ele a dar os filhotinhos e ela virou a nova mascote da família!</p>

        <img src="../static/img/luiza.png" alt="" width="600px">
    </div>

</body>
</html>